<div role="dialog">
  <div class="md">
    <div class="md-c">
      <button class="md-cb">Close</button>
      <div class="mb-b p-a300 p-a600--xl">
        Modal Content ...
      </div>
    </div>
  </div>
</div>
